<div class="grid-area" id="grid">

  <div id="left" class="layout-left">

    <header class="brand-area" id="brand">
      <app-brand></app-brand>
    </header>
    <div class="profile-area" id="profile">
      <app-profile></app-profile>
    </div>
    <aside class="sidebar-area" id="sidebar">
      <app-sidebar></app-sidebar>
    </aside>

  </div>

  <div id="right" class="layout-right">

    <nav class="nav-area" id="nav">
      <app-navbar></app-navbar>
    </nav>
    <main class="content-area" id="content">
      <app-main-content></app-main-content>
    </main>

  </div>

</div>
