<div class="dashboard-grid">
  <!-- Brand/Logo Area -->
  <header class="brand-area" id="brand">
    <!-- <h1>My Dashboard</h1> -->
    <app-brand-header></app-brand-header>

  </header>

  <!-- Navigation Bar -->
 <nav class="nav-area">
  <div class="nav-content">
    <div class="left-section" ><i class="fas fa-bars" id="toggleBtn"></i></div>
    <div class="right-section">

      <app-navbar></app-navbar>
    </div>
  </div>
</nav>

  <!-- Sidebar -->
  <aside class="sidebar-area" id="sidebar">
    <app-sidebar></app-sidebar>
  </aside>

  <!-- Main Content -->
  <main class="content-area">
    <app-main-content></app-main-content>
  </main>
</div>
