.sidebar-area {
  grid-area: sidebar;
  background-color: #34495e;
  color: white;
  width: 300px;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;

  .menu {
    list-style-type: none;
    padding: 0;

    .menu-item {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #a11a1a;
      }


    }

    .active {
      background-color: #0870d9;
      color: white;
      font-weight: bold;
    }
  }



  &-none {
    display: none;
    transition: transform 0.3s ease-in-out;
  }
}

ul {
  li {
    padding: 10px 0px 10px 20px;

    &:nth-child(2) {
      margin-top: 40px;
    }

    &:hover {
      background-color: #243443;
    }
  }
}


.sidebar-collapsed {
  width: 0;
  opacity: 0;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
