<!-- <nav class="nav-area">
    <div class="nav-content">
      <div class="user-profile">Welcome, {{ userName }}</div>
      <div class="notifications">🔔 {{ notificationCount }}</div>
    </div>
  </nav> -->

<div class="nav-content">

  <div class="left-section"><i class="fas fa-bars" id="toggleBtn" (click)="toggleLayout()"></i></div>
  <div class="right-section">
    <div class="user-profile">Welcome, {{ userName }}</div>
    <div class="notifications">🔔 {{ notificationCount }}</div>
  </div>
</div>