.profile-area {
  width: 300px;
  height: 100px;
  background-color: #3e5872;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
}

.profile-area.profile-area-collapsed {
  width: 0;
}

.profile-card {
  display: flex;
  align-items: center;
  min-width: 300px;
  padding: 20px 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #3e5872;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background-color: #b2b0b0;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 10px 0px 20px;
  flex-shrink: 0;
}

.profile-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.profile-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffff;
  white-space: nowrap;
}

.profile-position {
  margin: 4px 0 0;
  color: #ffff;
  font-size: 0.95rem;
  white-space: nowrap;
}
.profile-hide{
  display: none;
}
